*{
	box-sizing:border-box;
	padding: 0px;
	margin:0px;
	overflow-x: hidden;
overflow-y: hidden;
}
body{
	background-color: #BDBDBD;
	color:white;

}

.seccionToggle{
	height: 0px;

}
.envolver{
	display: none;
}
.mostrar{
	height: calc(100vh - 30px);
	color: #fff;
background: #fff;
	font-family: 'Courgette', cursive;
}
.btn-toggle{
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	font-weight: bold;
	display: block;
	overflow: hidden;
	text-decoration: none;
	color:#000;
	background:#c6ff00;
	text-align: center;
	font-family: 'Courgette', cursive;
}
.main{
	width: 100%;
	min-height: 1500px;
}

/*	BUSCADOR DEL MENU PRINCIPAL  */
.barra{
			    background: linear-gradient(
 #6A1B9A 100%,
 #fff 100%
 );
display: flex;
	flex-wrap: wrap;	
	
}
.h2{
	
	width: 20%;
	text-align: center;
	font-size: 20px;
	padding: 1.5rem;
}

/************FORMULARIO BUSCADOR*************/

.formulario{

    width: 70%;
    display: flex;
	flex-wrap: wrap;
	align-items: center;
	
		
}
.formulario .input-group{
      	width: 70%;
    	padding:1rem;
    	margin-left: 19%;
    	margin-right: auto;
}

   /*  principal
   background: #6A1B9A;
   #9C27B0*/
.formulario input[type="text"]{
	border-bottom: 2px solid #CE93D8; 
	color: #fff;
	width: 50%;
    text-indent: 13px;
}


 .formulario .input-group input[type="text"]:focus,
 .formulario .input-group input[type="text"]:active{
    outline: none;
    border-bottom: 2px solid #fff;
 }


  .input-group input[type="text"].error{
    border-bottom: 2px solid #d32f2f;
  
 }
 .formulario .input-group .licencia{
    width: 19%;
    text-transform: uppercase;
    
 }
   .input-group input[type="text"].error + label{
                    color: #d32f2f;
                }

.formulario .input-group label{
                    color:#CE93D8;
                    font-family: 'Courgette', cursive;
  }

.formulario .input-group label.label{
                    -webkit-transition:all 0.3s ease;
                    -o-transition:all 0.3s ease;
                    transition:all 0.3s ease;
                    margin-left: 15px;
                    font-size: 17px;
                    line-height: 10px;
                    position: absolute;
                    top: 23px;
                    left: 20px;
                    padding: 7px;
    }
#fechaNaci{
	 top: -3px;
}
.formulario .input-group label.label.active{
                    top:-7px;
                    font-size: 14px;
                    line-height: 10px;
                    color:#fff;
                    padding: 8px;
                }

.formulario input[type="submit"]{
    background: #283593;
     border: none;
    color:#fff;
    cursor: pointer;
     
    font-size: 16px;
    padding: 15px 20px;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 #1A237E inset;

    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.formulario input[type="submit"]:hover{
 	box-shadow: 0 50px #1A237E inset;
}

.iconBuscador{
	color: "#fff";
	 
width: 5%;
	font-size: 24px;
	padding: 1em;
	
	text-align: center;

}
#icon_road{
	cursor:pointer;
}
.icon_buscarNuevaPosition{
	background: white;
	color:#651fff;
	transition:1s;
	margin-left: -17%;
		position: absolute;
		border: none;
}
@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
to {-webkit-transform: rotate(360deg);}}

.icon-spinner{
	font-size: 70px;
	color:white;
	text-align: center;
	margin-top:13%;
	margin-left: 46%;
	position: absolute;
	-webkit-animation: 1s rotate linear infinite;
	animation: 0.5s rotate linear infinite;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}
.textBuscar{
 opacity:0;
 height: 0px;
}
.buscarVisible{
	opacity: 1;
	text-align: left;
	margin:auto;
	font-family: "Roboto", Arial;
    font-size: 18px;
    color:  #651fff;
    display: block;
    outline: none;
    padding: 10px;
    background: white;
    border: none;
    height: 38px;
    width: 29%;
	font-family:Overlock;
    transition:1s;
 }

/*//propiedades del buscador     /*/
.art{ 	width: 100%;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 10px;
	background: #f1f1f1;
	padding:5px;
}

.bienvenida{
	background-color:#20024a;
	width: 100%;
	height: 35px;
	display: flex;
	justify-content: space-between;

}
.bienvenida ul{
	width: 25%;
	background-color: #20024a;
	line-height: 35px;
	text-align: center;
	font-family: 'Courgette', cursive;
}
.usuario{
	margin-left: auto;
	margin-right: auto;
	color:white;
	opacity: 1;	
}
.usuario a{
text-decoration: none;
	color: #fff;
		font-family: 'Courgette', cursive;

}
/************Css del Menu del escritorio********************/
.menuMainContainer{
	background: #20024a;
	padding: 0em;
	
	height: calc(100vh - 60px);
	width: 100%;
	display: flex;
	flex-wrap: wrap;

	

}
.menuMain{
	width: calc(25% - 2em);
	height: 225px;
	margin-top: 0em;
	margin:1em;
	
	align-content: center;
	box-shadow: 0px -1px none inset;
	display: flex;
	flex-wrap: wrap;
	transition: all 0.5s;	
}
.menuMain:nth-child(1){
	background: #ff3b34;
}
.menuMain:nth-child(2){
	background: #8553cb;
}
.menuMain:nth-child(3){
	background: #2196F3 ;
}
.menuMain:nth-child(4){
	background:#2E7D32 ;
}
.menuMain:nth-child(5){
	background: #303F9F;
}
.menuMain:nth-child(6){
	background:  #009688;
}
.menuMain:nth-child(7){
	background: #fe8f01;
}
.menuMain:nth-child(8){
	background: #D81B60;
}

.menuMain:hover{
	transform: scale(1.08);	  
	box-shadow: 0px 0px 3px 2px rgba(255,255,255,0.9);
}



.divIcon{
	width: 100%;
	display: flex;
	cursor: pointer;	
	

	margin-top:calc(14%);

	transition: 0.5s;
}
.menuMain:hover .divIcon{
	margin-top:calc(14% - 40px);
}
.icons{
	position: relative;
	margin:auto;
	color:#fff;
	
	font-size:50px;
	/*border-radius: 50%;padding: 20px;  box-shadow: 0px 0px 10px 5px #263238;*/
	transition: 0.8s ease;
	-webkit-transition:0.8 ease;

		
}

.menuMain:nth-child(7):hover .icons{
	

	/*color: #263238;
	
	background: #AEEA00;

	  box-shadow: 0px 0px 0px 5px #263238;
	transform: rotate(360deg);
	-webkit-transform:rotate(360deg);*/     
	
}

.tituloMenuAdmin{
	width: 100%;
	font-family: 'Courgette', cursive;
	font-size: 22px;
	color: #fff;
	text-align: center;
	padding: 10px;
	text-shadow: 1px 1px #263238;
	transform: scale(0);
	transition: 0.5s;
}
.menuMain:hover .tituloMenuAdmin{
	transform: scale(1);
}
.menuMain:hover h2{
	color:white;

}
/*************MENU VERTICAL**************/

.menuVerticalContenedor{
  height: 100%;
  width: 260px;
  font-family: 'Courgette', cursive;
  position: absolute;
  top:0;
  left:-100%;
  background: rgba(0, 0, 0, .3) ;
  background-position: 50% 50%;
  background-size:cover;
  transition: right 0s .5s opacity 1s;
  color:white;
  display: flex;
  flex-direction: column;
  opacity: 0;
   z-index: 50000;
}
#menuVerticalContenedorCarreras{
	box-shadow: 0px 0px 5px 1px #AD1457;
}
#menuVerticalContenedorGrados{
	 box-shadow: 0px 0px 5px 1px #6A1B9A;
}
#menuVerticalContenedorMaterias{
 	box-shadow: 0px 0px 5px 1px #1565C0;	
}
#menuVerticalContenedorMaestros{
 	box-shadow: 0px 0px 5px 1px #263238;	
}
#menuVerticalContenedorEstudiante{
 	box-shadow: 0px 0px 5px 1px #1A237E;	
}
#menuVerticalContenedorNotas{
 	box-shadow: 0px 0px 5px 1px #00695C;	
}
.menuVerticalContenedorVer{
	left:0%;
	 opacity: 1;
	 transition: all 0.8s;
}
.menuVertical{
	height: 100%;
	width: 260px;
	background: #fff;
	position: relative;;
}
.menuVertical ul:nth-child(1){
	cursor: default;
}
#menuVerticalContenedorCarreras ul:nth-child(1){
	box-shadow: 0px 0 #AD1457 inset,
			   0px 0 #AD1457 inset;
	background :#AD1457;
	color:#fff;
}
#menuVerticalContenedorGrados ul:nth-child(1){
	box-shadow: 0px 0 #6A1B9A inset,
			   0px 0 #6A1B9A inset;
	background :#6A1B9A;
	color:#fff;
}
#menuVerticalContenedorMaterias ul:nth-child(1){
	box-shadow: 0px 0 #1565C0 inset,
			   0px 0 #1565C0 inset;
	background :#1565C0;
	color:#fff;
}
#menuVerticalContenedorMaestros ul:nth-child(1){
	box-shadow: 0px 0 #263238 inset,
			   0px 0 #263238 inset;
	background :#263238;
	color:#fff;
}
#menuVerticalContenedorEstudiante ul:nth-child(1){
	box-shadow: 0px 0 #1A237E inset,
			   0px 0 #1A237E inset;
	background :#1A237E;
	color:#fff;
}
#menuVerticalContenedorNotas ul:nth-child(1){
	box-shadow: 0px 0 #00695C inset,
			   0px 0 #00695C inset;
	background :#00695C;
	color:#fff;
}
.menuVerticalItems{
	background: #fff;
	
	width: 260px;
	padding: 1em;
	cursor: pointer;
	font-size: 17px;
	display: block;
	transition: all .5s;
}
#menuVerticalCarreras .menuVerticalItems{
		color:#E91E63;
}
#menuVerticalGrados .menuVerticalItems{
		color:#9C27B0;
}
#menuVerticalMaterias .menuVerticalItems{
		color:#2196F3;
}
#menuVerticalMaestros .menuVerticalItems{
		color:#607D8B;
}
#menuVerticalEstudiante .menuVerticalItems{
		color:#303F9F;
}
#menuVerticalNotas .menuVerticalItems{
		color:#009688;
}
.menuVerticalItems:hover{
	transition: all .7s;
}
#menuVerticalCarreras .menuVerticalItems:hover{
		box-shadow: 260px 0 #E91E63 inset,
			   -260px 0 #E91E63 inset;
		color:#fff;
}
#menuVerticalGrados .menuVerticalItems:hover{
	box-shadow: 260px 0 #9C27B0 inset,
			   -260px 0 #9C27B0 inset;
	color:#fff;
}
#menuVerticalMaterias .menuVerticalItems:hover{
	box-shadow: 260px 0 #2196F3 inset,
			   -260px 0 #2196F3 inset;
	color:#fff;
}
#menuVerticalMaestros .menuVerticalItems:hover{
	box-shadow: 260px 0 #607D8B inset,
			   -260px 0 #607D8B inset;
	color:#fff;
}
#menuVerticalEstudiante .menuVerticalItems:hover{
	box-shadow: 260px 0 #303F9F inset,
			   -260px 0 #303F9F inset;
	color:#fff;
}
#menuVerticalNotas .menuVerticalItems:hover{
	box-shadow: 260px 0 #009688 inset,
			   -260px 0 #009688 inset;
	color:#fff;
}


/*++++++++++ESTUDIANTES+++++++++++++*/
.iconMenuContenedor{
	padding: 0.5em;
	cursor: pointer;
	margin-left: 1%;

}
.iconMenu{
	background: #fff;
	width: 30px;
	height: 4px;
	margin: 6px 0;

}
.slide{
  height: 100%;
  width: 100%;
  position: absolute;
  top:0;
  left:100%;
  z-index: 10;
  opacity: 0;
 
  background-position: 50% 50%;
  background-size:cover;
  transition: left 0s .5s, opacity 0.3s;
  color:white;
  display: flex;
  flex-direction: column;
}
.menuSlide{
	display: flex;
	/*justify-content: space-between;*/
	list-style: none;
	width: 100%;
	margin:0;
	padding: 0;
}
.menuSlide li:nth-child(2){
	
	margin-right: auto;
	
}

#slideCarreras{
 background: linear-gradient(
  	          #E91E63 25%,
  	          #fff 25%
  	                 );
 }
 #slideGrados{
 background: linear-gradient(
  	          #9C27B0 25%,
  	          #fff 25%
  	                 );
 }
  #slideMaterias{
 background: linear-gradient(
  	          #2196F3 25%,
  	          #fff 25%
  	                 );
 }
 #slideMaestros{
 background: linear-gradient(
  	          #607D8B 25%,
  	          #fff 25%
  	                 );
 }
#slideEstudiante{
 background: linear-gradient(
  	          #303F9F 25%,
  	          #fff 25%
  	                 );
 }
 #slideNotas{
 background: linear-gradient(
  	          #009688 25%,
  	          #fff 25%
  	                 );
 }
 .slideVer{
  left:0;
  z-index: 100;
  transition: left .5s ease-out, opacity 0.3s;
opacity: 1;
}
.slideSalir{
  left:100%;
  opacity: 0.8;
  transition: left .5s ease-out, opacity 1s;
}
.close{
  cursor: pointer;
  opacity: 0;
  transform: translateX(100%);
  transition: transform .7s .7s, opacity .7s;
  color:#fff;
  font-size: 22px;
  
  padding: 10px;
  font-family: 'Courgette', cursive;
}
.closeVer{
    opacity: 1;
  transform: translateX(0);
  transition: all .7s .7s;
}

#menuCarreras{
background: #AD1457;
}
#menuGrados{
background: #6A1B9A;
}
#menuMaterias{
background: #1565C0;
}
#menuMaestros{
	background-color: #263238;
}
#menuEstudiante{
	background-color: #1A237E;
}
#menuNotas{
background: #00695C;
}
.titulo{
	font-family: 'Courgette', cursive;
	font-size: 30px;
	
	width: 400px;
	
	
	
	padding:4px;
}
.tituloVistas{
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	font-family: 'Courgette', cursive;
	font-size: 32px;
	padding: 6px;
	text-align: center;
}
#tituloVistasClientes{
	text-shadow: 1px 1px #1A237E,
				 2px 2px #1A237E;
}
#tituloVistasVendedores{
	text-shadow: 1px 1px #263238,
				 2px 2px #263238;
}

.footerSlide{
	
	display: flex;

	background-color: none;
	color: #fff;
	padding:1em;
	margin-top: auto;
}
.footerSlide div{
	padding: 0.3em;
}
#footerReportes{
 	padding: 0em;
  height: 50px;
  width: 100%;
 justify-content: space-between;

}
.botonNuevo{
	font-size: 28px;
	font-weight: bold;
	border-radius: 50%;	
	padding:13px;
	display: block;
	width: 60px;
	height:60px;
	text-align: center;
	cursor: pointer;
	transition:0.4s;
	color: #fff;
}
 .contFooter:nth-child(3){

	margin-left: auto;
	margin-right: auto;
}
.botonNuevo:hover{
	transform: rotate(90deg);
	-webkit-transform:rotate(90deg);
	transition:0.4s;
}
footer #botonNuevoCarrera{
	
	background-color: #E91E63;
}
footer #botonNuevoGrado{
	background:   #9C27B0;
}
footer #botonNuevaMateria{
	background:   #2196F3;
}
footer #botonNuevoMaestro{
	background:   #607D8B;
}

footer #botonNuevoEstudiante{
	background-color: #303F9F;
}
footer .contFooter .botonNuevo{
	background-color:#009688;
}


.modal{
		height: calc(100vh);
  width: 100%;
  position: absolute;
  top:-800px;
  left:0%;
  z-index: 10;
   background: #fff;
  color: black;
}

.modalVer{
	left:0px;
	top:0;
  z-index: 0;
  transition: top .5s ease-out, opacity 0.3s;
   background: rgba(0, 0, 0, 0.0);
}
.modalSalir{
  left:0%;
  top:-800px;
  opacity: 0.1;
  transition: top .5s ease-out, opacity 1s;
}
.nuevos{
	height: 550px;
  width: 80%;
  
   margin: auto;
  margin-top: 2.8%;
  background: #fff;
  box-shadow: 0px 0px 5px 1px grey;
  color: #000;
}

.cabeceraNuevo{
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding: 5px;
}

#cabeceraNuevaCarrera{
	box-shadow: 0px 0px 5px 1px #AD1457;
}
#cabeceraNuevoGrado{
	box-shadow: 0px 0px 5px 1px #6A1B9A;
}
#cabeceraNuevaMateria{
	box-shadow: 0px 0px 5px 1px #1565C0;
}
#cabeceraNuevoMaestro{
	box-shadow: 0px 0px 5px 1px #263238;
}
#cabeceraNuevoEstudiante{
	box-shadow: 0px 0px 5px 1px #283593;
}
#cabeceraNuevaNota{
	box-shadow: 0px 0px 5px 1px #00695C;
}
.cabeceraNuevo li:nth-child(1){
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	font-weight: bold;
	font-size: 19px;
	font-family: 'Courgette', cursive;
}
#tituNuevaCarrera, #closeModalCarrera{
	color:  #AD1457;
}
#tituNuevoGrado, #closeModalGrado{
	color:  #6A1B9A;
}
#tituNuevaMateria, #closeModalMateria{
	color:  #1565C0;
}
#tituNuevoMaestro, #closeModalMaestro{
	color:  #263238;	
}
#tituNuevoEstudiante, #closeModalEstudiante{
	color:  #283593;
}
#tituNuevaNota, #closeModalNotas{
	color:  #00695C;
}
#tituVentanaModal{
	color:#20024a;
}
.closeModal{
	cursor: pointer;
	font-size: 17px;
	font-weight: bold;
	font-family: 'Courgette', cursive;
	padding: 5px;
	
}

.respuesta{
font-family: 'Courgette', cursive;
width: 100%;
display: flex;
justify-content: space-between;

}

.seccionRespuesta{
	
	width: 100%;
		
	display: flex;
}
#seccionRespuestaOrden{
	
	/*position: absolute;
	z-index: 1;*/
}

.seccionRespuestaVer{
	position: absolute;
	z-index: 1000;
	width: 100%;
	height: 100vh;
	
	transition:  0.7s ease;
	background: none;
	display: flex;
}
.seccionRespuestaBusqueda{
	position: absolute;
	z-index: 1000;
	width: 100%;
	height: 100vh;
	
	transition:  0.7s ease;
	background: none;
	display: flex;
}
.seccionRespuestaVerOrden{
	position: absolute;
	z-index: 2000;
	width: 100%;
	height: 100vh;
	
	transition:  0.7s ease;
	background: none;
	display: flex;
}
.respuestaExito{
	background: #1A237E;
	opacity:0;
	width: 45%;
	height: 50px;
	 margin-left:auto;
 	margin-right: auto;
 	margin-top: -3em;
	padding: 0.8em;
	box-shadow: 0px 0px 3px 1px grey;
	 animation: respuestaExito 1.5s  forwards;
}
.respuestaExitoOrdenes{
	background: #20024a;
	opacity:0;
	width: 45%;
	height: 50px;
	 margin-left:auto;
 	margin-right: auto;
 	margin-top: -3em;
	padding: 0.8em;
	box-shadow: 0px 0px 5px 2px white;
	 animation: respuestaExito 1.5s  forwards;
}
.respuestaExitoBusqueda{
	background: #1A237E;
	opacity:0;
	width: 45%;
	height: 50px;
	 margin-left:auto;
 	margin-right: auto;
 	margin-top: -3em;
	padding: 0.8em;
	box-shadow: 0px 0px 3px 1px grey;
	 animation: respuestaExito 1.5s  forwards;
}
@keyframes respuestaExito{
	0% {opacity:0; margin-left:auto; margin-right: auto;}
  	10%{opacity:0; margin-top: 0em;}
	60%{margin-top: 19em; opacity: 0.8;}
  	80%{opacity: 0.9;}
  	100%{margin:auto; opacity: 1;}
}
#seccionRespuestaBusquedaClientes{


}
.error, .exito{
	width: 100%;
	text-align: center;
}
.respuestaError{
	background: #D50000;
	width: 45%;
	height: 50px;
	margin-left:auto;
 	margin-right: auto;
 	margin-top: -3em;
	padding: .8em;
	box-shadow: 0px 0px 3px 1px grey;
	 animation: respuestaExito 1.5s  forwards;
}

.quitarError{
	display: none;
}

/*************MENU INTERNO********************/
.menuInterno{
	background:none;
	width: 100%;
	height: 2.8em;
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin-top: 4.45em;
	padding: 0;
	font-family: 'Courgette', cursive;
}
.ulMenuInterno{
	background: #AD1457;
	text-align: center;
	width: 20%;
	padding:.54em;
	margin: auto;
	display: block;
	cursor: pointer;
	font-size: 18px;
	transition: all .8s;
	box-shadow: 0 0 #AD1457 inset,
				0 0  #fff inset;
}
.ulMenuInterno:hover{
	box-shadow: 0 60px #F8BBD0 inset,
				0 -60px #F8BBD0 inset;
	color:#AD1457;
}


/***********FORMULARIO CLIENTES NUEVOS***************/
.formularioCarreraNueva{
    padding: 5px 25px;
    display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.formularioCarreraNueva .input-group textarea{
  outline: none !important;
    border-bottom:2px solid #2196F3;
}

.formularioCarreraNueva input[type="text"]{
	border-bottom: 2px solid  #2196F3; 
	color: #1976D2;
}

 .formularioCarreraNueva .input-group input[type="text"]:focus,
 .formularioCarreraNueva .input-group input[type="text"]:active{
    outline: none;
    border-bottom: 2px solid #1976D2;
}

.formularioCarreraNueva .input-group label{
                    color: #2196F3;
                    font-family: 'Courgette', cursive;
}

.formularioCarreraNueva .input-group label.label{
                    -webkit-transition:all 0.3s ease;
                    -o-transition:all 0.3s ease;
                    transition:all 0.3s ease;
                    margin-left: 15px;
                    font-size: 17px;
                    line-height: 10px;
                    position: absolute;
                    top: 13px;
                    left: 0px;
                    padding: 7px;
    }
    .reincioLabel{
    	color: #2196F3;
    	  margin-left: 15px;
                    font-size: 17px;
                    line-height: 10px;
                    position: absolute;
                    top: 13px;
                    left: 0px;
                    padding: 7px;
    }

.formularioCarreraNueva .input-group label.label.active{
                    top:-7px;
                    font-size: 14px;
                    line-height: 10px;
                    color:#1976D2;
                    padding: 8px;
                }

.formularioCarreraNueva input[type="submit"]{
    background: #1976D2;
    border: none;
    color:#fff;
    cursor: pointer;
    font-size: 16px;
    padding: 15px 20px;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 #fff inset;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.formularioCarreraNueva input[type="submit"]:hover{
 	box-shadow: 0 50px #0D47A1 inset;
        

}

/***********JUEGO DE RADIO BUTTON CLIENTES NUEVOS*****************/
					 .tituRadio{
						display: inherit;
						color: #2196F3;
                    	font-family: 'Courgette', cursive;
				 	 	padding: 15px;
					 }
					.formularioCarreraNueva  .input-group.radio label{
						display: inline-block;
						cursor:pointer;
						color:#303F9F;
						position: relative;
						padding: 5px 15px 5px 51px;
						font-size: 1em;
						border-radius: 5px;
					  	-webkit-transition: all 0.3s ease;
						-o-transition: all 0.3s ease;
  						transition: all 0.3s ease;
					}			
					.formularioCarreraNueva  .input-group.radio label:hover{
						background: #bbdefb;
					}
					.formularioCarreraNueva  .input-group.radio label:before{
						content: "";
						display: inline-block;
						width: 17px;
						height: 17px;
						position: absolute;
						left:15px;
						border-radius: 50%;
						background: none;
						border: 3px solid #0074D9;
					}
					.formularioCarreraNueva  .input-group.error label{
						color:#d32f2f;
					}
					.formularioCarreraNueva .input-group.error label:hover{
						background:rgba(211, 47, 0,0.2); 
					}
					.formularioCarreraNueva  .input-group.error label:before{
						border:3px solid #d32f2f;
					}
					


					.formularioCarreraNueva  .input-group.radio input[type="radio"]{
					 	display: none;
					}

					.formularioCarreraNueva  .input-group.radio input[type="radio"]:checked + label:before{
						display:none;
					}
					.formularioCarreraNueva .input-group.radio input[type="radio"]:checked + label{
						padding: 5px 15px;
						background:#303f9f;
						border-radius: 3px;
						color: #f2f2f2;
					}
					 
					
					 


/***********FORMULARIO GRADOS***************/
.formularioGradoNuevo{
    padding: 5px 25px;
    display: flex;
	flex-wrap: wrap;
	align-items: center;
		
}
.formularioGradoNuevo input[type="text"]{
	border-bottom: 2px solid #BA68C8; 
	color: #4A148C;
	
}
.formularioGradoNuevo input[type="date"]{
	color: #4A148C;
    width: 95%;
    font-family: 'Courgette', cursive;
    font-size: 18px;
    border: none;
    border-bottom: 2px solid #BA68C8;
    text-align: center;
    background: none;
    padding: 5px;
	
}
 .formularioGradoNuevo .input-group input[type="text"]:focus,
 .formularioGradoNuevo .input-group input[type="text"]:active{
    outline: none;
    border-bottom: 2px solid #6A1B9A;
}

.formularioGradoNuevo .input-group label{
                    color:#BA68C8;
                    font-family: 'Courgette', cursive;
}

.formularioGradoNuevo .input-group label.label{
                    -webkit-transition:all 0.3s ease;
                    -o-transition:all 0.3s ease;
                    transition:all 0.3s ease;
                    margin-left: 15px;
                    font-size: 17px;
                    line-height: 10px;
                    position: absolute;
                    top: 13px;
                    left: 0px;
                    padding: 7px;
    }
.formularioGradoNuevo .input-group label.label.active{
                    top:-7px;
                    font-size: 14px;
                    line-height: 10px;
                    color:#6A1B9A;
                    padding: 8px;
                }

.formularioGradoNuevo input[type="submit"]{
    background:#BA68C8;
    border: none;
    color:#fff;
    cursor: pointer;
    font-size: 16px;
    padding: 15px 20px;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 #6A1B9A inset;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.formularioGradoNuevo input[type="submit"]:hover{
 	box-shadow: 0 50px #6A1B9A inset;
}
#tipoEgreso{
	padding: 0px;
    background: transparent;
    width: 95%;
    border: 0px;
    border-bottom: 2px solid #1976D2;
    font-family: 'Courgette', cursive;
    font-size: 17px;
    color: #1976D2;
    margin: auto;
    outline: none;
}
/**************FORMULARIO VENDEDOR NUEVO********************************/
.formularioVendedorNuevo{
    padding: 5px 25px;
    display: flex;
	flex-wrap: wrap;
	align-items: center;
		
}
.formularioVendedorNuevo .input-group textarea{
  outline: none;
    border-bottom:2px solid #607D8B;
   
}

.textComentario{
	height: 50px;
	border: none; 
	color: rgb(26, 35, 126);
	width: 95%;
    text-indent: 13px;
    
}

.formularioVendedorNuevo input[type="text"]{
	border-bottom: 2px solid  #607D8B; 
	color: #263238;
}
 .formularioVendedorNuevo .input-group input[type="text"]:focus,
 .formularioVendedorNuevo .input-group input[type="text"]:active{
    outline: none;
    border-bottom: 2px solid #263238;
}

.formularioVendedorNuevo .input-group label{
                    color: #607D8B;
                    font-family: 'Courgette', cursive;
}

.formularioVendedorNuevo .input-group label.label{
                    -webkit-transition:all 0.3s ease;
                    -o-transition:all 0.3s ease;
                    transition:all 0.3s ease;
                    margin-left: 15px;
                    font-size: 17px;
                    line-height: 10px;
                    position: absolute;
                    top: 13px;
                    left: 0px;
                    padding: 7px;
    }
.formularioVendedorNuevo .input-group label.label.active{
                    top:-7px;
                    font-size: 14px;
                    line-height: 10px;
                    color:#1976D2;
                    padding: 8px;
                }

.formularioVendedorNuevo input[type="submit"]{
    background: #607D8B;
    border: none;
    color:#fff;
    cursor: pointer;
    font-size: 16px;
    padding: 15px 20px;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 #fff inset;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.formularioVendedorNuevo input[type="submit"]:hover{
 	box-shadow: 0 50px #263238 inset;
        

}
/************FORMULARIO ESTUDIANTE*************/

.formularioEstudianteNuevo{
    padding: 5px 25px;
    display: flex;
	flex-wrap: wrap;
	align-items: center;
	
		
}
 .input-group{
    position: relative;
    margin-bottom: 12px;
    	align-content: center;
    	width: 50%;
    	padding:10px;
    	display: flex;
    justify-content: space-between;
}
.input-group:nth-child(7){
	display: block;

}
.divOpciones{
	margin:auto;
	width: 50%;
	
}
.bigOpciones{
	margin: auto;
   
	animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.salidaOpciones{
	margin: auto;

	animation: unfoldOut 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
/*animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;*/
#cantidadGarrafones{
	padding: 0px;
    background: transparent;
    width: 0%;
    border: 0px;
    border-bottom: 2px solid #1976D2;
    font-family: 'Courgette', cursive;
    font-size: 17px;
    color: #1976D2;
    margin: auto;
}
input[type="text"],.formularioEstudianteNuevo input[type="date"]{
   font-size: 14px;
    width: 95%;
    outline: none;
    padding: 10px;
    background: none;
    border: none;
    transition: all 0.5s;
}
.formularioEstudianteNuevo input[type="text"]{
	border-bottom: 2px solid #5C6BC0; 
	color: #1A237E;
}

 .formularioEstudianteNuevo .input-group input[type="text"]:focus,
 .formularioEstudianteNuevo .input-group input[type="text"]:active{
    outline: none;
    border-bottom: 2px solid #283593;
 }


  .input-group input[type="text"].error{
    border-bottom: 2px solid #d32f2f;
  
 }
 .formularioEstudianteNuevo .input-group .licencia{
    width: 19%;
    text-transform: uppercase;
    
 }
   .input-group input[type="text"].error + label{
                    color: #d32f2f;
                }

.formularioEstudianteNuevo .input-group label{
                    color:#5C6BC0;
                    font-family: 'Courgette', cursive;
  }

.formularioEstudianteNuevo .input-group label.label{
                    -webkit-transition:all 0.3s ease;
                    -o-transition:all 0.3s ease;
                    transition:all 0.3s ease;
                    margin-left: 15px;
                    font-size: 17px;
                    line-height: 10px;
                    position: absolute;
                    top: 13px;
                    left: 0px;
                    padding: 7px;
    }
#fechaNaci{
	 top: -3px;
}
.formularioEstudianteNuevo .input-group label.label.active{
                    top:-7px;
                    font-size: 14px;
                    line-height: 10px;
                    color:#283593;
                    padding: 8px;
                }
.campoCorrectoLabel{
   -webkit-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    transition:all 0.3s ease;
     font-size:16px;
    position: absolute;
    top: -4px;
    font-weight: bold;
 	left:30px;
  	line-height: 5px;
    padding: 8px;
}
.labelError{
                    -webkit-transition:all 0.3s ease;
                    -o-transition:all 0.3s ease;
                    transition:all 0.3s ease;
                    font-size: 17px;
                    margin-left: 15px;
                    line-height: 16px;
                    position: absolute;
                    top: 15px;
                    left: 0px;
                    padding: 4px;
    }

/***********PRIMER JUEGO DE RADIO BUTTON*****************/
                    .tituEquipo{
                    	
                        color:#5C6BC0;
                        font-family: 'Courgette', cursive;
                        padding: 0px;
                        }
                    .formularioEstudianteNuevo .input-group.radio label{
                        display: inline-block;
                        cursor:pointer;
                        color:#5C6BC0;
                        position: relative;
                        padding: 5px 15px 5px 51px;
                        font-size: 1em;
                        border-radius: 5px;
                        -webkit-transition: all 0.3s ease;
                        -o-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                    }           
                    .formularioEstudianteNuevo .input-group.radio label:hover{
                        background: #5C6BC0;
                        color: #fff;
                    }
                     .formularioEstudianteNuevo .input-group.radio label:before{
                        content: "";
                        display: inline-block;
                        width: 14px;
                        height: 14px;
                        position: absolute;
                        left:15px;
                        border-radius: 50%;
                        background: none;
                        border: 3px solid  #5C6BC0;
                    }
                    .formularioEstudianteNuevo .input-group.radio label:hover:before{
                    	border: 3px solid  #fff;
                    }
                     .formularioEstudianteNuevo .input-group.error label{
                        color:#d32f2f;
                    }
                    .formularioEstudianteNuevo .input-group.error label:hover{
                        background:rgba(211, 47, 0,0.2); 
                    }
                     .formularioEstudianteNuevo .input-group.error label:before{
                        border:3px solid #fff;
                    }
                    


                     .formularioEstudianteNuevo .input-group.radio input[type="radio"]{
                        display: none;
                    }

                     .formularioEstudianteNuevo .input-group.radio input[type="radio"]:checked + label:before{
                        display:none;
                    }
                     .formularioEstudianteNuevo .input-group.radio input[type="radio"]:checked + label{
                        padding: 5px 15px;
                        background:#1A237E ;
                        border-radius: 3px;
                        color: #f2f2f2;
                    }



    .input-buton{
    	margin-top: 2em;
    	width: 100%;
    	display: flex;
    }

.formularioEstudianteNuevo input[type="submit"]{
    background: #283593;
     border: none;
    color:#fff;
    cursor: pointer;
     
    font-size: 16px;
    padding: 15px 20px;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 #1A237E inset;

    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.formularioEstudianteNuevo input[type="submit"]:hover{
 	box-shadow: 0 50px #1A237E inset;
}

/**************RESPUESTAS VISTAS MIS CLIENTES*******************/
.tablaContenido{
	padding: .5em;

	width: 100%;
	height: 400px;
	
	position: absolute;
	overflow-x: auto;
		overflow-y: auto;
		background: #fff;
}



.tablaClientes{
	width: 60%;
	min-width: 500px;
	height: 100px;
	border-spacing: 0px;
	font-family: 'Courgette', cursive;
	background: #fff;
	margin: auto;
	box-shadow:  0px 0px 5px 1px  #1565C0;
	overflow-x: auto;
	overflow-y: auto;
}

/*Reportes por cierres*/
.divReporteCierre{
	display: flex;
	flex-wrap:wrap; 
	margin-top: 1.5em;
}



.tablaContenidoCierres{
	padding: 0.1em;
	width: 33.33%;
	height: 300px;
	margin-top: 0.2em;
	overflow-x: auto;
	overflow-y: auto;
	display: flex;
}
#tablaContenidoEgresos{
	width: 100%;
}
.tablaContenidoCierres #ContenidoReporteSinDato{
	background:#d50000; 
	color:#fff;
	text-align: center;
	padding: .5em;
	margin:auto;
	width: 100%;
}
#seccionRespuestaEgresos{
	
}
#respuestaEgresoProveedores{
	

}
#tablaContenidoEgresos{
	margin-top: 0.3em;
	padding:10px;
}
.tablaReportesCierre{
	width: 98%;
}
.tablaReportesEgreso{
	width: 80%;
	;
}


/*Cabeza y cuerpo de la tabla*/
.tablaClientes tr td {
	text-align: left;
	padding: 0.8em;
	transition:all .4s;	
		box-shadow: 0 1px #2196F3  inset;
}
/*Cabeza de tabla*/
.tablaClientes th{
	color: #1565C0;
	padding: 18px;
}
.tablaCxC th{
	color:#4527A0;
}

.tablaCxC tr td{
	box-shadow: 0 1px #6200EA  inset;
}

/*Todas las filas*/
.tablaClientes tr{
	font-size: 16px;
	color:#1A237E;
}
.tablaCxC tr{
	color:#673AB7;
}


.tablaClientes th:nth-child(2){
	
	
}

.tablaClientes td:nth-child(2){
	
	
}



.tablaClientes tr:hover td{
	color:#1565C0;
	background: #E3F2FD;
	box-shadow: 0 2px #2196F3 inset,
				0 -1px #2196F3 inset
	;
}
.tablaCxC tr:hover td{
	color:#6200EA;
	background: #EDE7F6;
	box-shadow: 0 2px #6200EA inset,
				0 -1px #6200EA inset
	;
}
/**********************TABLA MIS ARTICULOS*****************************/
.tablaArticulos{
	width: 50%;
	min-width: 500px;
	min-height: 280px;
	border-spacing: 0px;
	font-family: 'Courgette', cursive;
	background: #fff;
margin: auto;
text-align: center;
box-shadow:  0px 0px 5px 1px #6A1B9A;
}

/*Cabeza y cuerpo de la tabla*/
.tablaArticulos tr td {
	text-align: left;
	padding: 0.8em;
	transition:all .4s;	
		box-shadow: 0 1px #9C27B0  inset;
}
/*Cabeza de tabla*/
.tablaArticulos th{
	color: #6A1B9A;
	padding: 13px;
	font-size: 16px;
	text-align: left;
}
/*Todas las filas*/
.tablaArticulos tr{
	font-size: 14px;
	color:#9C27B0;
}


.tablaArticulos td:nth-child(1){
	width:20%;
}
.tablaArticulos tr:hover td{
	color:#6A1B9A;
	background: #F3E5F5;
	box-shadow: 0 2px #6A1B9A inset,
				0 -1px #6A1B9A inset
	;
}
/**************RESPUESTAS VISTAS MIS GRADOS*******************/

.contenidoRespuestaGrado{
	
	background: none;
	
	width: 100%;
	height: 400px;
	display: flex;
	justify-content: space-between;
	font-family: 'Courgette', cursive;

}
.contenidoAsignarGrado{
	
	width: 50%;
	height: 353px;
	overflow-x: auto;
	overflow-y: auto;
	background: #fff;
	color:#6A1B9A;
	margin: auto;
	    box-shadow: 0px 0px 5px 1px #6A1B9A;
	    
}
.contenidoAsignarCabecera{
	width: 100%;
	font-size: 16px;
	background: #fff;
	color:#6A1B9A;
	text-align: center;
	padding: 1em;
	  box-shadow: 0px 0px 5px 1px #6A1B9A;

}
.formularioAsignarCarrera{
    padding: 5px 25px;
    display: flex;
	flex-wrap: wrap;
	

}
.input-groupSelect{
	margin-top: 4.5em;
	position: relative;
    margin-bottom: 12px;
    	align-content: center;
    	width: 50%;
    	padding:2em;
    	display: flex;
    	justify-content: space-between;

}
.input-groupSelect label.label{

                    -webkit-transition:all 0.3s ease;
                    -o-transition:all 0.3s ease;
                    transition:all 0.3s ease;
                    text-align: center;
                    font-size: 17px;
                    line-height: 0px;
                    position: absolute;
                    top: -5px;
                    left: 0px;
                    padding: 18px;
                    
                    width: 100%;
}
.select{
 	margin: auto;
		color:#9C27B0;
		width: 70%;
		background: none;
		border: none;
		outline: none;
		font-family: 'Courgette', cursive;
		padding: 0.8em;
		box-shadow: 0px -2px #9C27B0 inset;
		transition: all 0.5s;

}
.select:hover{
   		box-shadow: 0px -2px #6A1B9A inset;
   		transition: all 0.5s;
}
.selectError{
	color:#d32f2f;
	box-shadow: 0px -2px #d32f2f inset;
}

.input-butonAsignar{
    	width: 100%;
    	display: flex;
}

.input-butonAsignar input[type="submit"]{
	outline: none;
    background: #9C27B0;
    font-family: 'Courgette', cursive;
     border: none;
    color:#fff;
    cursor: pointer;
    font-size: 14px;
    padding: 1em;
    width: 18%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 #E040FB inset,
    			0 0 #E040FB inset;

    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.input-butonAsignar input[type="submit"]:hover{
 	box-shadow: 0 50px #4A148C inset,
 				0 -50px #4A148C inset;
}
/************MEDIA QUERI*******************/
@media (max-width:768px){
		body{
			background: #fff;
		}
		.menuMainContainer{

			height: 50px;
			display: flex;
			flex-wrap:no-wrap;
			flex-direction: row;
			align-items: center;
			justify-content: center;			
		}	
		.menuMain{
			padding: 0;
			margin:0;
			width: 12.5%;
			height:50px;
			margin: auto;
							
		}
		.tituloMenuAdmin{
			display:none;
		}
		
		.divIcon{
			background: #263238;
			width: 100%;
			display: flex;
			cursor: pointer;	
			padding: 0px;
			margin-bottom: 0px;
		}
		.icons{
			position: relative;
			margin:auto;
			color:#fff;
			background: #263238;
			padding: 10px;
			font-size:22px;
			transition: 0.8s ease;
			-webkit-transition:0.6 ease;
		  	box-shadow: 0px 0px 0px 0px #fff;
		}

		.menuMain:hover .icons{
			color: #263238;
			background: #AEEA00;
			box-shadow: 0px 0px 0px 5px #263238;
			transform: rotate(0deg);
			-webkit-transform:rotate(0deg);     
		}

			

}
