/*//propiedades del buscador     /*/
@import url(http://fonts.googleapis.com/css?family=Overlock);
/*.lineaColorBusca{
 	background: white ;
 	width: 100%;
 	height: 0.5em;
 	margin-top: 0px;
 }*/
.contBusc{
	padding: 0;
	margin:0;
	
	width: 100%;
	background: white;
	    box-shadow: 0px 0px 5px 1px grey;
	    	font-family: 'Courgette', cursive;
}
.tituloBusc{
	font-size: 20px;
	
	color:#fff;
 box-shadow: 0px 0px 5px 1px #6A1B9A;
	background:#6A1B9A; 
 	text-align: center;
  	margin-top: 0px;
 	
 	width: 100%;
 	padding: 0.5em;
  	
  	
 	
}
.tablaContenidoCliente{
	width: 100%;
	padding: 0px;
	overflow-x: auto;
	height: 520px;
	overflow-y: auto;
}
.tablaRW{
	width: 100%;	

 	border-spacing: 0px;
 	
 	
 	margin-left:auto;
	margin-right: auto;
}
.tablaRW th{
 	padding: 0.5em;
 	border-spacing: 2px;
	border-color: red;
	text-align: left;
	font-size: 17px;
 	color:#fff;
 	background:#9C27B0;
 }
 .tablaRW td{
 	padding: 0.8em;
	text-align: left;
	font-size: 17px;
 	color:#6A1B9A;
 	background: #F5F5f5;
}
.tablaRW tbody tr:hover td{
 		color:#000;
 		background:#e0e0e0; 

 }
td a{
	text-decoration: none;
}
.iconosBuscador{
	cursor: pointer;
	color:#651fff;
}
/*#botonOpcion{
	background: blue;
	padding:1em;
	width: 5px;
	height: 5px;
}*/
.iconOpcion{
	width:4px;
	height: 4px;
	background:#6A1B9A;
	margin: 2.5px;
	border-radius: 50%;
}

.subMenu{
	font-family: 'Courgette', cursive;
	background-color:#fff;
	width: 180px;
	color:#6A1B9A;
	z-index: 1;
}
.subMenu li{
	list-style: none;
	padding: 1em;
}

.subMenu li:nth-child(1){
	color:#1565C0;
 	border-bottom: 2px solid #1565C0; 
}
.subMenu li:nth-child(2){  
	color: #7B1FA2;
 	border-bottom: 2px solid  #7B1FA2;
}
.subMenu li:nth-child(3){
   	color: #F50057;
	border-bottom: 2px solid  #F50057;
}
.subMenu li:hover{
	cursor: pointer;
}


.modal-containerSubMenu{
	background: none;
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100vh;
	display: flex;
	z-index: 200;
	  animation: fadeInOpciones 0.1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards
	
}
@keyframes fadeInOpciones {
  0% {
    background:rgba(0,0,0,0);
  }
  100% {
    background:rgba(0,0,0,0);
  }
}
.modal-contentOpciones{
	background-color:#f1f1f1;
		box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
	margin:auto;
    animation: opcionesSubMenu 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

.contenedorInterno{
	  opacity:0;
          position:relative;
          animation: modalContentFadeIn .6s 1.6s linear forwards;
}
@keyframes modalContentFadeIn {
  0% {
    opacity:0;
    top:-20px;
  }
  100% {
    opacity:1;
    top:0;
  }
}


@media screen and (max-width: 650px){

	 .tablaRW, .tablaRW td, .tablaRW tr  tbody{
		display: block;
		
	}
	.tablaRW th{
		display: none;
		
	}
	.tablaRW tr td{
		position: relative;
		padding-left: 50%;
		text-align: left;
	}
	.tablaRW tr td::before{
		content: attr(title)= " : ";
		color:black;
		left: 50px;
		position: absolute;

	}
}

/*+++++++++VENTANA EMERGENTE (MODAL)+++++++++++++*/
.ventanaViewSucursal{
    opacity:0;
    pointer-events:none;
    background: rgba(0,0,0,0.7);
    width: 100%;
    position: fixed;
    z-index: 99999;
    top:0px;
    bottom: 0px;
    transition:all ease 0.5s;
    font-family: 'Open Sans', sans-serif;
    
    
}

.ventanaViewSucursal:target{
    opacity: 1;
    transition:all ease-in 0.5s;
    pointer-events:all;


}

.contenido{
    background: #e0e0e0;
    box-shadow: 0px 0px 8px #000;
    height: 600px;
    max-width: 60%;
    color: #01579B;
    margin: 3.5em auto;   
    display: flex;
}


.contenidoUno{
	 background: #e0e0e0;
	font-size: 25px;
	width: 30%;
	height: 600px;
	color: #311B92;
	
}
		.contenidoUnoIcon{
		width: 100%;
		height: 80px;
		}
			.salir{
   				font-size: 21px;
   				display: block;
   				height: 80px;
   				 max-width: 40%;
   				text-align: center;
   				color: #263238;
    			text-decoration: none;
    			}
    			.salir span{
    				 line-height: 80px;
    			}

    	.contenidoUnoDatos{
			margin:auto;
			text-align: center;
    	}
    			.imagenSuc{
					width: 80%;
					height: 160px;
					border-radius: 50%;

					}
					h5{
						color: #000;
						margin:20px;
					}

.contenidoDos{
	background: #e0e0e0;
	width: 70%;
	height: 600px;
}
	.contenidoDosDatos{
		background: #fff;
		width: 80%;
		height: 300px;
		margin:2em auto;
		color: #263238;
		box-shadow: 1px 1px #9e9e9e,
					2px 2px #9e9e9e,
					3px 3px #9e9e9e;
		transition: all .3s;
		}
	.contenidoDosMasDatos{
		height: 530px;
		transition: all .3s;

	}
	#datosOcultos{
		display: none;
		
	}
	.mostrarDatos{
		display: block;
	}
	
			.cabezaContenidoDosDatos{
				
				padding: 15px;
				font-size: 16px;
				}
				.cabezaContenidoDosDatos ul{
					display: inline-block;
					
					width: 20%;
					max-width: 90%;
				}
				.cabezaContenidoDosDatos ul:last-child{
					text-align: center;
				}

				.datos{
					
					font-size:14px;
					padding: 10px;
					
				}
				.datos ul:first-child{
					width: 10%;
					text-align: center;
				}
				.datos ul{
					display: inline-block;
					width: 40%;
					}
				.datos ul:last-child{
					width: 10%;
				}
				#iconoEditar{
					display: none;
				}
				#masDatos{
					cursor: pointer;
				}





















/*Version antigua de los datos del buscador

.lineaColorBusca{
 	background: red ;
 	width: 100%;
 	height: 3em;
 	margin-top: 15px;
 }
.contBusc{
	margin-top: 2em;
	margin-left: 10%;
	width: 90%;
	background: white;
	border-radius: 20px;
	box-shadow: 0px 0px 5px 0px grey;
	border-style: solid;
	border-width: 4px;
	border-color:#FFAB00 ; 


}
#tituloBusc{
	font-size: 28px;
	background: #FFAB00 ;
	border-radius: 20px 20px 0px 0px;
 	text-align: center;
 	margin-left: -4px;
 	margin-top: -20px;
 	height: 40px;	
 	width: 98.9%;
 	font-family:Overlock;
 	color:white ;
 	border-bottom: solid 6px #FF6f00;


}
#tablaBusc{
	margin-left: 1.5%;
	width: 95%;
	padding: 10px;
	
}
#tituloTabla{
		width: 100%;
	 	font-family:Overlock;
	 	border-spacing: 0px;
	 	box-shadow: 0px 0px 5px 0px grey;
	 	border-bottom: solid 3px #9e9e9e;
}
#tituloTabla th{
 padding: 0.5em;
 border-spacing: 2px;
	border-color: red;
	text-align: left;
	font-size: 18px;
 	color:#212121;
 	background: #eeeeee;
 	

 	}
 	#tituloTabla td{
 padding: 0.8em;
	
	text-align: left;
	font-size: 18px;
 	color:#424242;
 	background: #F5F5f5;
 	

 	}
 	#tituloTabla tbody tr:hover td{
 		color:#000;
 		background:#e0e0e0; 
 	 	}

td a{
	text-decoration: none;
}
.icon-eye{
	cursor: pointer;
	color:#424242;
}
@media screen and (max-width: 650px){

	 #tituloTabla, #tituloTabla td, #tituloTabla tr  tbody{
		display: block;
		
	}
	#tituloTabla th{
		display: none;
		
	}
	#tituloTabla tr td{
		position: relative;
		padding-left: 50%;
		text-align: left;
	}
	#tituloTabla tr td::before{
		content: attr(title)= " : ";
		color:black;
		left: 50px;
		position: absolute;

	}
}

/*+++++++++VENTANA EMERGENTE (MODAL)+++++++++++++*/
.ventanaViewSucursal{
    opacity:0;
    pointer-events:none;
    background: rgba(0,0,0,0.7);
    width: 100%;
    position: fixed;
    z-index: 99999;
    top:0px;
    bottom: 0px;
    transition:all ease 0.5s;
    font-family: 'Open Sans', sans-serif;
    
    
}

.ventanaViewSucursal:target{
    opacity: 1;
    transition:all ease-in 0.5s;
    pointer-events:all;


}

.contenido{
    background: #e0e0e0;
    box-shadow: 0px 0px 8px #000;
    height: 600px;
    max-width: 60%;
    color: #01579B;
    margin: 3.5em auto;   
    display: flex;
}


.contenidoUno{
	 background: #e0e0e0;
	font-size: 25px;
	width: 30%;
	height: 600px;
	color: #311B92;
	
}
		.contenidoUnoIcon{
		width: 100%;
		height: 80px;
		}
			.salir{
   				font-size: 21px;
   				display: block;
   				height: 80px;
   				 max-width: 40%;
   				text-align: center;
   				color: #263238;
    			text-decoration: none;
    			}
    			.salir span{
    				 line-height: 80px;
    			}

    	.contenidoUnoDatos{
			margin:auto;
			text-align: center;
    	}
    			.imagenSuc{
					width: 80%;
					height: 160px;
					border-radius: 50%;

					}
					h5{
						color: #000;
						margin:20px;
					}

.contenidoDos{
	background: #e0e0e0;
	width: 70%;
	height: 600px;
}
	.contenidoDosDatos{
		background: #fff;
		width: 80%;
		height: 300px;
		margin:2em auto;
		color: #263238;
		box-shadow: 1px 1px #9e9e9e,
					2px 2px #9e9e9e,
					3px 3px #9e9e9e;
		transition: all .3s;
		}
	.contenidoDosMasDatos{
		height: 530px;
		transition: all .3s;

	}
	#datosOcultos{
		display: none;
		
	}
	.mostrarDatos{
		display: block;
	}
	
			.cabezaContenidoDosDatos{
				
				padding: 15px;
				font-size: 16px;
				}
				.cabezaContenidoDosDatos ul{
					display: inline-block;
					
					width: 20%;
					max-width: 90%;
				}
				.cabezaContenidoDosDatos ul:last-child{
					text-align: center;
				}

				.datos{
					
					font-size:14px;
					padding: 10px;
					
				}
				.datos ul:first-child{
					width: 10%;
					text-align: center;
				}
				.datos ul{
					display: inline-block;
					width: 40%;
					}
				.datos ul:last-child{
					width: 10%;
				}
				#iconoEditar{
					display: none;
				}
				#masDatos{
					cursor: pointer;
				}

